language = "nodejs"
run = "while [ true ]; do npx nodemon -L -x 'git fetch --all; git reset --hard origin/main; git stash save ''; git pull; npm start || sleep 1; echo $(date +'%Y/%d/%m_%H:%M:%S') >> restart.log' --watch restart.log || npm install nodemon; continue; done"
